
<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><a href="https://impulztech.com">Impulz</a></span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/accounts" routerLinkActive="active" ariaCurrentWhenActive="page">Accounts</a>
        </li>
        <div class="d-flex align-items-end" *ngIf="isLogin">
        <li class="nav-item dropdown d-flex align-items-end" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Menu
          </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
          <a class="dropdown-item" href="#" (click)="logout($event)">Logout</a>
        </li>
        </ul>
      </li>
    </div>

    <div class="d-flex align-items-end" *ngIf="!isLogin">
      <li class="nav-item dropdown d-flex align-items-end" >
        <a class="btn btn-primary" href="#" 
        role="button" (click)="login($event)">
          Login
        </a>

    </li>
  </div>

      </ul>
    </div>
  </nav>

</div>

<router-outlet></router-outlet>
